.row .col{
height: 300px;
width: 300px;
/* border: 1px solid black; */
margin: 10px;
/* border: radius 3px; */
}    
.row .col1 .card{
height: inherit;
border: 1px solid  green;
} 
.row .col1 .card .imgdiv{
height: 220px;
/* border: 1px solid black; */
/* background-color: yellow; */
}
.row .col1 .card .imgdiv img{
/* position: relative;
left: 60px; */
height: 210px;
}
.row .col1 .card .content{
height: 70px;
/* border: 1px solid black; */
position: relative;
top: 5px;
}
.row .col1 .card .content h2{
background-color: yellow;
position: relative;
top: -20px;
text-align: center;
padding: 5px;
}
.row .col1 .card .content p{

background-color: orange;
position: relative;
top: -35px;
text-align: center;
padding: 5px;
}
.row .col2{
background-color: green;
position: relative;
left: 220px;  
}


